<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nick-cherry.weatherbee_100" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Weatherbee 100</name>
  <description>
    A ventilator simulation app
  </description>
  <author email="nickcherryjiggz@gmail.com" href="http://nick-cherry.com">
    Nick Cherry
  </author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <platform name="ios">
  </platform>
</widget>
